@import 'variables';

html,
body {
  background-color: $white;
  color: $black;
  font-family: $helv;
  min-height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.navbar {
  font-family: $courier;
}

.title {
  font-family: $bebas;
}
