// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$bebas: 'Bebas Neue', cursive;
$helv: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$nunito: 'Nunito', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$courier: 'Courier New', Courier, monospace;
// Colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$teal: #4dc0b5;
$white: #fdfdfd;
$black: #111111;
// Solarized colors
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;
